body
{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    background: #6AB8E7;
}

#floatingInput
{
    &+label
    {
        color: #4061AC;
    }
}

textarea
{
    outline: none;

    &::placeholder
    {
        color: #4061AC;
    }
}

#custom-cards
{
    & .card > div
    {
        transition: .6s ease;

        &:hover
        {
            cursor: pointer;
        }

        & > h2
        {
            font-size: 2.5vmax;
        }
    }
}

#footer
{
    background-color: #4061AC;
    color: white;

    & > a
    {
        color: white;
        text-decoration: none;
        transition: .33s ease;

        &:hover
        {
            color: #F18134;
        }
    }
}